<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:property-placeholder location="classpath:database.properties"/>
	<context:component-scan base-package="com.anta.*"></context:component-scan>
	<context:component-scan base-package="com.food.*"></context:component-scan>
	 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingLocations" >
			<array>
				<value>classpath:com/anta/entity/*.hbm.xml</value>
				<value>classpath:com/anta/*/entity/*.hbm.xml</value>
				<value>classpath:com/food/admin/*/entity/*.hbm.xml</value>
			</array>
		</property>
			<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(* com.anta.*.service.*.*(..))" id="pointCut"/>
		<aop:pointcut expression="execution(* com.food.admin.*.service.*.*(..))" id="pointCut1"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut1"/>
	</aop:config>
	<!-- <import resource="classpath:applicationContext_action.xml"/> -->
</beans>
